<div class="ml-2">
    <h2>Home Page</h2>
    <form class="ml-2" action="/admin/design-edit/home-background-1" method="post" enctype="multipart/form-data">
        <h4>Background 1 - Trang chủ</h4>
        <input type="file" id="background1" name="image">
        <input type="submit" value="Thay đổi">
    </form>
    <form class="ml-2" action="/admin/design-edit/home-background-2" method="post" enctype="multipart/form-data">
        <h4>Background 2 - Trang chủ</h4>
        <input type="file" id="background2" name="image">
        <input type="submit" value="Thay đổi">
    </form>
</div>
<div class="ml-2">
    <h2>Post-Listing</h2>
    <form class="ml-2" action="/admin/design-edit/post-listing-slide" method="post" enctype="multipart/form-data">
        <h4>Background 1 - Slide-post-listing</h4>
        <input type="file" id="background1" name="image">
        <h4>Background 2 - Slide-post-listing</h4>
        <input type="file" id="background1" name="image">
        <h4>Background 3 - Slide-post-listing</h4>
        <input type="file" id="background1" name="image">
        <h4>Background 4 - Slide-post-listing</h4>
        <input type="file" id="background1" name="image">
        <input type="submit" value="Thay đổi">
    </form>
</div>