<!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Future Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Đăng ký
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Danh sách</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/admin/recruitment">Danh sách tuyển dụng</a>
                        <a class="collapse-item" href="/admin/event">Danh sách sự kiện</a>
                        <a class="collapse-item" href="/admin/contact">Danh sách liên hệ</a>
                        <a class="collapse-item" href="/admin/advise">Danh sách tư vấn</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Nội bộ
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Thông tin</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/admin/companyInfo">Thông tin công ty</a>
                        <a class="collapse-item" href="/admin/liststaff">Thông tin nhân viên</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePost"
                    aria-expanded="true" aria-controls="collapsePost">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Bài viết</span>
                </a>
                <div id="collapsePost" class="collapse" aria-labelledby="headingPost" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/admin/list-post">Danh sách bài viết</a>
                        <a class="collapse-item" href="/admin/add-post">Thêm bài viết</a>
                        <a class="collapse-item" href="/admin/storedPost">Bài viết đã xoá</a>
                    </div>
                </div>
            </li>
            {{!-- nav item event --}}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEvent"
                    aria-expanded="true" aria-controls="collapseEvent">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Sự kiện</span>
                </a>
                <div id="collapseEvent" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/admin/listeventmain">Danh sách sự kiện</a>
                        <a class="collapse-item" href="/admin/addevent">Thêm sự kiện</a>
                </div>
            </li>

            {{!-- nav item event --}}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStored"
                    aria-expanded="true" aria-controls="collapseStored">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Kho lưu trữ</span>
                </a>
                <div id="collapseStored" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/admin/storedStaff">Danh sách nhân viên</a>
                        <a class="collapse-item" href="/admin/recruitment">Danh sách tuyển dụng</a>
                        <a class="collapse-item" href="/admin/event">Danh sách sự kiện</a>
                        <a class="collapse-item" href="/admin/contact">Danh sách liên hệ</a>
                        <a class="collapse-item" href="/admin/advise">Danh sách tư vấn</a>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/design">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Design</span></a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->