<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Future</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <link href="/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/css/templatemo-tiya-golf-club.css" rel="stylesheet">
</head>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      xfbml: true,
      version: 'v19.0'
    });
  };
</script>

<!-- SDK -->
<script async defer crossorigin="anonymous" 
  src="https://connect.facebook.net/vi_VN/sdk.js">
</script>
<body class="pt-0">
    <main>
        <!-- Khoảng trắng phía trên (header space) -->
<div style="height: 94px;"></div>
        {{>header}}
        {{{body}}}
    </main>
    {{>footer}}
            <!-- JAVASCRIPT FILES -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/click-scroll.js"></script>
        <script src="/js/animated-headline.js"></script>
        <script src="/js/modernizr.js"></script>
        <script src="/js/custom.js"></script>
</body>
</html>